
.hdark{
  transition: 1s;
}
.hdark:hover{
  color: rgba(27, 27, 27, 0.966) !important;
}

.btn-main {
  background: #f75d34 !important;
  color: white !important;
  border: none !important;
  border-radius: 50px;
}